:root {
  --fontFamily: "Roboto Condensed", "Rubik", cursive;
  --fontFamilyTitle: "Roboto Condensed", "Rubik", cursive;
  --coverImageHeight: 40vh;
  --gray0: #f8f8f8;
  --gray1: #dbe1e8;
  --gray2: #b2becd;
  --gray3: #6c7983;
  --gray4: #454e56;
  --gray5: #2a2e35;
  --gray6: #12181b;
  --blue: #0084a5;
  --purple: #a82dd1;
  --yellow: #fff565;
  --shadow1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --shadow1_hover: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  --shadow2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  --shadow3: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  --shadow4: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  --shadow5: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  --elevation5: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  --elevation6: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.notion-body.dark {
  --bg: var(--gray5);
  --bg2: var(--gray4);
  --text: var(--gray0);
  --primary: #ff4557; /* red */
}
.notion-body.pink {
  --bg: #292d3e;
  --bg2: #202331;
  --text: #a6accd;
  --primary: #ab47bc;
}
body[data-theme="dark"] {
}
body[data-theme="palenight"] {
  --bg: #292d3e;
  --bg2: #202331;
  --text: #a6accd;
  --primary: #ab47bc;
}
body[data-theme="solarized_light"] {
  --bg: #fdf6e3;
  --bg2: #eee8d5;
  --text: #586e75;
  --primary: #d33682;
}
body[data-theme="night_owl"] {
  --bg: #011627;
  --bg2: ##001424;
  --text: #b0bec5;
  --primary: #7e57c2;
}
