/* -------------------------------- 📌 Page Content 📌 -------------------------------- */
div.notion-frame > div:nth-child(2) > div:not(first-child) {
  direction: rtl !important;
}

/* div.notion-page-content div[contenteditable="true"] */
div.notion-page-content > div {
  text-align: right;
}

div[placeholder="Heading 1"],
div[placeholder="Heading 2"],
div[placeholder="Heading 3"],
div[placeholder="Untitled"] {
  text-align: right !important;
  direction: rtl;
}

.notion-to_do-block,
.notion-bulleted_list-block,
.notion-text-block,
.notion-table_of_contents-block,
.notion-numbered_list-block {
  direction: rtl !important;
}
.notion-to_do-block .pseudoSelection,
.notion-bulleted_list-block .pseudoSelection,
.notion-text-block .pseudoSelection,
.notion-numbered_list-block .pseudoSelection {
  margin: 0 2px;
}
.notion-to_do-block *,
.notion-bulleted_list-block *,
.notion-text-block *,
.notion-table_of_contents-block *,
.notion-numbered_list-block * {
  text-align: right !important;
}

.notion-record-icon {
}
