/* Code Blocks */
div.line-numbers.notion-code-block .notranslate {
  direction: ltr !important;
  text-align: left !important;
}

.notion-code-block > div {
  direction: ltr !important;
  text-align: left !important;
}
